
Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) index.php [L]

    RewriteRule ^.*\.git.* - [R=404]
</IfModule>
<Files .env>
    Order allow,deny
    Deny from all
</Files>