
Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule ^d/([^/]+)/?$ draft.php?id=$1 [L,QSA]
    RewriteRule ^.*\.git.* - [R=404]
</IfModule>
<Files .env>
    Order allow,deny
    Deny from all
</Files>