services:
    app:
        build:
            context: .
            dockerfile: deploy/app/workspace.Dockerfile
        container_name: milty-app
        restart: unless-stopped
        tty: true
        working_dir: /code
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./:/code:delegated
            - ./deploy/app/php/php.ini:/usr/local/etc/php/conf.d/php.ini
            - ./deploy/app/Caddy/Caddyfile:/etc/caddy/Caddyfile