services:
    app:
        build:
            context: .
            dockerfile: deploy/app/Dockerfile
            target: development
        container_name: milty-app
        restart: unless-stopped
        tty: true
        working_dir: /code
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./:/code:delegated