parameters:
    tmpDir: ./tmp/phpstan/
    inferPrivatePropertyTypeFromConstructor: true
    level: 5
    paths:
        - app
    excludePaths:
        - ./*/*Test.php
        - ./app/Testing/*
        - ./app/api/*