services:
  app:
    build:
      context: .
      dockerfile: deploy/app/Dockerfile
      target: production
    container_name: milty-app
    restart: unless-stopped
    tty: true
    working_dir: /code
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost" ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
      start_interval: 5s
