(common_config) {
    root /app/public
    log {
        output stdout
    }

    header {
       X-Frame-Options DENY
       Referrer-Policy no-referrer-when-downgrade
       Access-Control-Allow-Origin *
   }

    @options method OPTIONS
    respond @options 204

    @svg {
         file
         path *.svg
     }

    header @svg Content-Security-Policy "script-src 'none'"

    php_fastcgi localhost:9000
    file_server
    encode zstd gzip
    root * /code

    tls internal
}

:80 {
    import common_config
}
milty.localhost {
    import common_config
}
